streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
scipy==1.11.4
plotly==5.22.0
opencv-python-headless==4.9.0.80
streamlit-webrtc==0.47.1
streamlit-autorefresh==1.0.1
seaborn==0.13.2
matplotlib==3.8.4
google-genai==1.8.0